/* styles.module.css */

.root {
  --background: #1f2336;
  --box-background: #313852;
  --secondary: #dbd9d9;
  --secondary22: #222;
  --primary: #8f8e8e;
}

.box {
  padding: 0px;

  padding-top: 4px;
  border-radius: 16px;
}

/* ... (rest of the styles) */

.box h2 {
  margin: 0px;
  font-weight: 400;
  font-size: 1.5rem;
}

.input__wrapper {
  position: relative;
}

.input__field {
  outline: 1.5px solid var(--secondary);
  font-size: 1rem;
  border-radius: 4px;
  color: rgb(43, 43, 43);
  padding: 10px;
  border: none;
  width: 100%;
  background: transparent;
  transition: all 0.2s;
}

.input__field::placeholder {
  color: transparent;
}

.input__field:placeholder-shown ~ .input__label {
  font-size: 0.87rem;
  cursor: text;
  color: var(--secondary22);
  top: 26px;
}
.input__label {
  position: absolute;
  top: 6px;
  padding: 0 4px;
  display: block;
  font-size: 10px;
  background-color: rgb(255, 255, 255);
  left: 8px;
  color: var(--primary);
  transition: 0.3s;
}
.input__field:focus ~ .input__label,
.input__field:not(:placeholder-shown) ~ .input__label {
  position: absolute;
  top: 6px;
  font-size: 13px;
  color: #a1a1a1;
  background-color: rgb(255, 255, 255);
}

.input__field:focus {
  outline: 1.5px solid var(--primary);
}
